/* .app-container {
  position: relative;
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  z-index: 2;
  background-color: #00afef;
  padding: 1em 0;
}

.logo-navbar {
  width: auto;
  height: 2.5em;
}

aside {
  background-color: blanchedalmond;
  position: absolute;
  top: 4em;
  z-index: 1;
  width: 10em;
  height: auto;
  padding-top: 2em;
}

aside ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5em;
}

a { 
  text-decoration: none;
  color: black;
}

aside a {
  /* text-decoration: none;
  display: inline-block;
  margin: 0px 20px; */
  font-size: 1.2rem;
  color: black;
}

.pages-container {
  height: 85vh;
  border: 2px solid red;
  margin: 5em 0 0 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .home-page {
  width: 87%;
  height: 85vh;
  border: 2px solid red;
  margin: 5em 0 0 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5em;
  left: 12%;
  z-index: 6;
} */

/* .to-do-details {
  width: 87%;
  height: 85vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5em;
  left: 12%;
} */
 
.to-do-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
  width: 100%;
}

.to-do-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border: 1px solid #0b1a4d;
  width: 22em;
  height: 3em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  background-color: #0b1a4d;
  padding: 0.5em 1em;
}

.footer a {
  text-decoration: none;
  color: azure;
}
